{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}

{% block content %}

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post">
                {{ register_form.hidden_tag() }}
                <h1>Create Account</h1>
                <span>or use your email for registeration</span>
                {{ register_form.name(class="form-control", placeholder="Your Name") }} <!-- Le champ pour 'name' -->
                {% for error in register_form.name.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                {{ register_form.email_address(class="form-control", placeholder="Your Email") }} <!-- Le champ pour 'email_address' -->
                {% for error in register_form.email_address.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                {{ register_form.password1(class="form-control", placeholder="Password") }} <!-- Le champ pour 'password1' -->
                {% for error in register_form.password1.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                {{ register_form.password2(class="form-control", placeholder="Retype Password") }} <!-- Le champ pour 'password2' -->
                {% for error in register_form.password2.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                {{ register_form.birthdate(class="form-control", placeholder="Birthdate") }} <!-- Le champ pour 'birthdate' -->
                {% for error in register_form.birthdate.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                <button type="submit" name="register-submit" class="btn btn-primary">Register</button>

            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post">
                {{ login_form.hidden_tag() }}
                <h1>Sign In</h1>
                <span>or use your email password</span>
                {{ login_form.email(class="form-control", placeholder="Your Email") }} <!-- Le champ pour 'email' -->
                {% for error in login_form.email.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                {{ login_form.password(class="form-control", placeholder="Password") }} <!-- Le champ pour 'password' -->
                {% for error in login_form.password.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}


                <button type="submit" name="login-submit" class="btn btn-primary">Sign In</button>

            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin haut de page-->
    <!--Debut de section 1 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}

