{% extends 'base.html' %}


{% block title %}
    AddQuery
{% endblock %}

<style>
    button.multiselect.dropdown-toggle {
        background-color: white;
    }
</style>

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <br>
            <br>
            <div class="form-group">
                {{ form.Name.label() }}
                {{ form.Name(class="form-control") }}
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="query_select_">Queries</label>
                <select class="select"  id="query_select_" onchange="handleQuerySelect(this)" style="width: 100%;height: 38px;background-color: white;border: none;border-radius: 3px;">                    {% for name in query %}
                        <option value="{{ name.Id }},query" {% if name.Id == selected_id %}selected{% endif %}>{{ name.Name }}</option>
                    {% endfor %}
                    {% for name in group %}
                        <option value="{{ name.id }},group" {% if name.id == selected_id %}selected{% endif %}>{{ name.group_name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" id="selected_query_ids" name="selected_query_ids">
            </div>
            <br>
            <br>
            <div class="form-group row">
                <div class="col">
                    {{ form.envmt_Test.label() }}
                    {{ form.envmt_Test() }}
                </div>
                <div class="col">
                    {{ form.envmt_Prod_lu.label() }}
                    {{ form.envmt_Prod_lu() }}
                </div>
                <div class="col">
                    {{ form.envmt_Prod_ch.label() }}
                    {{ form.envmt_Prod_ch() }}
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                {{ form.frequency.label() }}
                {{ form.frequency(class="form-control") }}
            </div>
            <br>
            <br>
            <div class="form-group" id="start_day">
                {{ form.start_date.label() }}
                {{ form.start_date(class="form-control") }}
            </div>
            <br>
            <br>
            <div class="form-group" id="end_day">
                {{ form.end_date.label() }}
                {{ form.end_date(class="form-control") }}
            </div>
            <div class="form-group" id="weekly_day_field" style="display: none">
                {{ form.weekly_day.label() }}
                {{ form.weekly_day(id="weekly_day_select", class="form-control") }}
            </div>
            <br>
            <br>
            <div class="col">
                {{ form.have_parameters.label() }}
                {{ form.have_parameters() }}
            </div>
            <br>
            <br>
            <div id="optional_parameters">
                <div class="form-group">
                    <label for="customers_select_">Customers</label>
                    <select multiple="multiple" id="customers_select_" style="color: #FFFFFF; width: auto;" onchange="updateHiddenInput(this, 'selected_customer_ids')">
                        <option>None</option>
                        {% for name in customerLu %}
                            <option>{{ name }}</option>
                        {% endfor %}
                        {% for name in customerCh %}
                            <option>{{ name }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="selected_customer_ids" name="selected_customer_ids">
                </div>
                <br>
                <br>
                <div class="form-group">
                    {{ form.DateBegin.label() }}
                    {{ form.DateBegin(class="form-control") }}
                </div>
                <br>
                <br>
                <div class="form-group">
                    {{ form.DateEnd.label() }}
                    {{ form.DateEnd(class="form-control", type="date") }}
                </div>
                <br>
                <br>
                <div class="form-group">
                    {{ form.Margin.label() }}
                    {{ form.Margin(class="form-control", placeholder="Margin") }}
                </div>
            </div>
            <br>
            <br>
            <div class="form-group row">
                <div class="col">
                    {{ form.Intraday_Schedule.label() }}
                    {{ form.Intraday_Schedule() }}
                </div>
                <div class="col">
                    {{ form.Is_not_Intraday.label() }}
                    {{ form.Is_not_Intraday() }}
                </div>
                <div class="col">
                    {{ form.Multi_Intraday.label() }}
                    {{ form.Multi_Intraday() }}
                </div>
            </div>
            <br>
            <br>
            {{ form.multi_intraday_data() }}
            <div id="executionDetailsMultiIntradayModal_" style="display: none">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="multiIntradayDropdown_" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Multi-Intraday Schedules
                    </button>
                    <div class="dropdown-menu" aria-labelledby="multiIntradayDropdown_">
                        <h6 class="dropdown-header">Start Time -- End Time -- Frequency</h6>
                        <!-- Initial dropdown should not have any items other than the header -->
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <input type="time" class="form-control form-control-plaintext inputField" id="multiIntraday_startTime_" style=" background-color: white; width: 80px;">
                    <label class="mx-2" style="color: white;">To</label>
                    <input type="time" class="form-control form-control-plaintext inputField" id="multiIntraday_endTime_" style="background-color: white; width: 80px;">
                </div>
                <br>
                <div class="d-flex justify-content-center mt-2">
                    <label style="color: white; margin-right: 5px;">Frequency</label>
                    <input type="text" class="form-control form-control-plaintext inputField" id="multiIntraday_frequency_" style="background-color: white; width: 80px;">
                </div>
                <br>
                <button type="button" class="btn btn-outline btn-danger mr-1" onclick="addMultiIntradaySchedule()" style="margin-left: 10px; border:none; border-radius: 5px">Add</button>
                <button type="button" class="btn btn-outline btn-info mr-1" onclick="updateMultiIntradaySchedule()" style="margin-left: 10px; border: none; border-radius: 5px">Update</button>
            </div>
            <div class="form-group" id="time_execution_field">
                {{ form.Time_Execution.label() }}
                {{ form.Time_Execution(class="form-control") }}
            </div>
            <div id="intraday_schedule_fields">
                <div class="form-group">
                    {{ form.Intraday_schedule_Begin.label() }}
                    {{ form.Intraday_schedule_Begin(class="form-control") }}
                </div>
                <br>
                <br>
                <div class="form-group">
                    {{ form.Intraday_schedule_End.label() }}
                    {{ form.Intraday_schedule_End(class="form-control") }}
                </div>
                <br>
                <br>
                <div class="form-group">
                    {{ form.Intraday_schedule_Frequency.label() }}
                    {{ form.Intraday_schedule_Frequency(class="form-control") }}
                </div>
                <br>
                <br>
            </div>
            <br>
            <br>
            <div id="send_report" class="form-group row">
                <div class="col">
                    {{ form.send_slack.label() }}
                    {{ form.send_slack }}
                </div>
                <br>
                <br>
                <div class="col">
                    {{ form.send_mail.label() }}
                    {{ form.send_mail }}
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                {{ form.list_email.label() }}
                {{ form.list_email(class="form-control") }}
            </div>
            <br>
            <br>
            <div class="form-group">
                {{ form.list_email_cc.label() }}
                {{ form.list_email_cc(class="form-control") }}
            </div>
            <br>
            <br>
            <div id="send_report_empty" class="form-group row">
                <div class="col">
                    {{ form.Send_mail_empty.label() }}
                    {{ form.Send_mail_empty }}
                </div>
                <br>
                <br>
                <div class="col">
                    {{ form.Send_slack_empty.label() }}
                    {{ form.Send_slack_empty }}
                </div>
            </div>
            <br>
            <br>
            <div id="file_extension" class="form-group">
                {{ form.file_extension.label() }}
                {{ form.file_extension(id="file_extension_select", class="form-control") }}
            </div>
            <br>
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br>
            <br>
        </form>
    </div>
</body>
{% endblock %}

{% block JS %}
    function handleQuerySelect(selectElem) {
        updateHiddenInput(selectElem, 'selected_query_ids');
        handleQuerySelectChange(selectElem);
    }

    function handleQuerySelectChange(selectElement) {
        var selectedValue = $(selectElement).val();

        if (selectedValue.endsWith(',group')) {
            removeCsvOption();
        } else {
            ensureCsvOptionExists();
        }
    }

    function removeCsvOption() {
        $("#file_extension_select option[value='csv']").remove();
        $("#file_extension_select").multiselect("rebuild");
    }


    function ensureCsvOptionExists() {
        if (!$("#file_extension_select option[value='csv']").length) {
            $('<option>', {
                value: 'csv',
                text: 'CSV'
            }).appendTo('#file_extension_select');
        }
        $("#file_extension_select").multiselect("rebuild");
    }


    function updateMultiIntradayHiddenField() {
        let data = retrieveMultiIntradayList();
        document.getElementById('multi_intraday_data').value = data;
    }
    function removeSchedule(buttonElement) {
        let parentItem = buttonElement.parentElement;
        parentItem.parentElement.removeChild(parentItem);
    }

    function retrieveMultiIntradayList() {
        let dropdownMenu = document.querySelector(`div[aria-labelledby="multiIntradayDropdown_"]`);
        let items = dropdownMenu.querySelectorAll('.dropdown-item');

        let schedules = [];

        items.forEach(item => {
            let cells = item.textContent.trim().split('--');
            if (cells.length === 3) {
                let startTime = cells[0].trim();
                let endTime = cells[1].trim();
                let frequency = cells[2].trim().replace("Remove", "").trim();
                schedules.push(`["${startTime}", "${endTime}", "${frequency}"]`);
            }
        });

        return `[${schedules.join(",")}]`;
    }

    function fillInputs(startTime, endTime, frequency) {
        document.getElementById('multiIntraday_startTime_').value = startTime;
        document.getElementById('multiIntraday_endTime_').value = endTime;
        document.getElementById('multiIntraday_frequency_').value = frequency;
        selectedDropdownItem = event.target; // Set the selected dropdown item
    }

    function addMultiIntradaySchedule() {
        // Create a new dropdown item
        let newSchedule = createDropdownItem();

        // Append the new item to the dropdown menu
        document.querySelector(`#multiIntradayDropdown_+ .dropdown-menu`).appendChild(newSchedule);

        // Clear the input fields
        clearInputs();
    }
    function updateMultiIntradaySchedule() {
        if (selectedDropdownItem) {
            // Update the selected dropdown item
            let startTime = document.getElementById('multiIntraday_startTime_').value;
            let endTime = document.getElementById('multiIntraday_endTime_').value;
            let frequency = document.getElementById('multiIntraday_frequency_').value;

            // Instead of directly updating innerText, let's use the same method used to create dropdown items
            let updatedItem = createDropdownItem();
            selectedDropdownItem.replaceWith(updatedItem);

            // Clear the input fields
            clearInputs();

            // Reset the reference to the selected dropdown item
            selectedDropdownItem = null;
        }
    }


    function createDropdownItem() {
        let startTime = document.getElementById('multiIntraday_startTime_').value;
        let endTime = document.getElementById('multiIntraday_endTime_').value;
        let frequency = document.getElementById('multiIntraday_frequency_').value;

        let newSchedule = document.createElement('div');
        newSchedule.className = "dropdown-item d-flex justify-content-between align-items-center";

        let scheduleText = document.createElement('span');
        scheduleText.innerText = `${startTime} -- ${endTime} -- ${frequency}`;
        scheduleText.onclick = function() {
            fillInputs(startTime, endTime, frequency);
            selectedDropdownItem = newSchedule; // Set the selected dropdown item
        };

        let removeButton = document.createElement('button');
        removeButton.className = "btn btn-sm btn-danger";
        removeButton.innerText = "Remove";
        removeButton.onclick = function() {
            removeSchedule(removeButton);
        };

        newSchedule.appendChild(scheduleText);
        newSchedule.appendChild(removeButton);

        return newSchedule;
    }

    function clearInputs() {
        document.getElementById('multiIntraday_startTime_').value = '';
        document.getElementById('multiIntraday_endTime_').value = '';
        document.getElementById('multiIntraday_frequency_').value = '';
    }
    function updateHiddenInput(select, hiddenInputId) {
        var selectedOptions = Array.from(select.selectedOptions).map(option => option.value);
        console.log(selectedOptions)
        document.getElementById(hiddenInputId).value = selectedOptions.join(",");
    }
    ["query_select_", "customers_select_"].forEach(function(selectId) {
        var selectElement = document.getElementById(selectId);
        var hiddenInputId = selectId === "query_select_" ? "selected_query_ids" : "selected_customer_ids";
        var hiddenInputElement = document.getElementById(hiddenInputId);
        if (!hiddenInputElement.value) {
            updateHiddenInput(selectElement, hiddenInputId);
        }
    });
   $(document).ready(function() {
        $('form').on('submit', function(e) {
            updateMultiIntradayHiddenField();
        });
        $('#have_parameters').change(function() {
            // Check if have_parameters checkbox is checked
            if ($(this).is(':checked')) {
                // If have_parameters checkbox is checked, show the optional parameters
                $('#optional_parameters').show();
            } else {
                // If have_parameters checkbox is not checked, hide the optional parameters
                $('#optional_parameters').hide();
            }
        });

        // Set the initial visibility of the optional parameters based on the initial checked state of the have_parameters checkbox
        if ($('#have_parameters').is(':checked')) {
            $('#optional_parameters').show();
        } else {
            $('#optional_parameters').hide();
        }


        if ($('#Intraday_Schedule').is(':checked')) {
            $('#time_execution_field, #executionDetailsMultiIntradayModal_').hide();
            $('#intraday_schedule_fields').show();
        } else if ($('#Is_not_Intraday').is(':checked')) {
            $('#intraday_schedule_fields, #executionDetailsMultiIntradayModal_').hide();
            $('#time_execution_field').show();
        } else if ($('#Multi_Intraday').is(':checked')) {
            $('#intraday_schedule_fields, #time_execution_field').hide();
            $('#executionDetailsMultiIntradayModal_').show();
        }
        $('#frequency').change(function() {

            var selected_value = $(this).val();

            if(selected_value == 'daily') {
                $('#weekly_day_field').hide();
                $('#start_day').show();
                $('#end_day').show();
            }
            else if(selected_value == 'weekly') {
                $('#weekly_day_field').show();
                $('#start_day').hide();
                $('#end_day').hide();
            }
        });
        // Initialize the dropdowns
        var dropdowns = $('select[id^="customers_select_"],select[id^="weekly_day_select"],select[id^="file_extension_select"]');
        dropdowns.multiselect({
            nonSelectedText: 'Please Select',
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true,
            collapseOptGroupsByDefault: true,
            buttonWidth: '100%',
            dropRight: true,
        });
        // Initialize the dropdowns



        $('#Intraday_Schedule, #Is_not_Intraday, #Multi_Intraday').change(function() {
            // Uncheck other checkboxes except the one that triggered the change event
            $('#Intraday_Schedule, #Is_not_Intraday, #Multi_Intraday').not(this).prop('checked', false);

            if ($('#Intraday_Schedule').is(':checked')) {
                console.log('Intraday Schedule is checked');
                $('#time_execution_field, #executionDetailsMultiIntradayModal_').hide();
                $('#intraday_schedule_fields').show();
            } else if ($('#Is_not_Intraday').is(':checked')) {
                console.log('Is not Intraday is checked');
                $('#intraday_schedule_fields, #executionDetailsMultiIntradayModal_').hide();
                $('#time_execution_field').show();
            } else if ($('#Multi_Intraday').is(':checked')) {
                console.log('Multi Intraday Modal is checked');
                $('#intraday_schedule_fields, #time_execution_field').hide();
                $('#executionDetailsMultiIntradayModal_').show();
            }
        });
   });
   window.onload = function() {
        handleQuerySelectChange(document.getElementById('query_select_'));
   };
{% endblock %}
