{% extends 'base.html' %}
{% block title %}
    Querry Home Page
{% endblock %}

{% block content %}
    <div class="form-inline my-2 my-lg-0 d-flex align-items-center">
        <form>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchBar">
        </form>

        <form action="{{ url_for('main.add_schedule_querry') }}" method="GET">
            <button class="btn btn-outline btn-primary" type="submit">Add Schedule Query</button>
        </form>
    </div>

    <table class="table table-hover table-dark" id="queryTable">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Name</th>
                <th scope="col">File - Last result</th>
                <th scope="col">Options</th>

            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for querry in querries %}
                <tr>
                    <td>{{querry.Name}}</td>
                    <td>
                        {% if not querry.Last_result %}
                            {{querry.Last_result}}
                        {% else %}
                            <a href="{{ url_for('main.view_file', file_path=querry.Last_result.replace('.\\', '').replace('\\', '/')) }}" style="color: white;text-decoration: underline;">
                                {{ querry.Last_result.split('\\')[-1] }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <form action="{{ url_for('main.delete_querry', id=querry.Id) }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-outline btn-danger mr-1" type="submit">Delete</button>
                            </form>
                            <form action="{{ url_for('main.querry_details', id=querry.Id) }}" method="GET">
                                <button class="btn btn-outline btn-info mr-1" type="submit">Info</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% for group in group %}
                <tr>
                    <td>{{group.group_name}}</td>
                    <td>
                        {% if not group.Last_result %}
                            {{group.Last_result}}
                        {% else %}
                            <a href="{{ url_for('main.view_file', file_path=group.Last_result.replace('.\\', '').replace('\\', '/')) }}" style="color: white;text-decoration: underline;">
                                {{ group.Last_result.split('\\')[-1] }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <form action="{{ url_for('main.delete_group', id=group.id) }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-outline btn-danger mr-1" type="submit">Delete</button>
                            </form>
                            <form action="{{ url_for('main.group_details', id=group.id) }}" method="GET">
                                <button class="btn btn-outline btn-info mr-1" type="submit">Info</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block JS %}
    document.getElementById('searchBar').addEventListener('keyup', function() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById('searchBar');
    filter = input.value.toUpperCase();
    table = document.getElementById('queryTable');
    tr = table.getElementsByTagName('tr');

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[0];  // Change this to the column index you want to filter on
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = '';
            } else {
                tr[i].style.display = 'none';
            }
        }
    }
});
{% endblock %}


