{% extends 'base.html' %}
{% block title %}
    Schedule Home Page
{% endblock %}

{% block content %}
    <div class="form-inline my-2 my-lg-0 d-flex align-items-center">
        <form>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchBar">
        </form>

        <form action="{{ url_for('main.add_schedule_querry') }}" method="GET">
            <button class="btn btn-outline btn-primary" type="submit">Add Schedule Query</button>
        </form>
    </div>
    <div class="table-responsive d-flex justify-content-center">
        <table class="table table-hover table-dark" id="queryTable">
            <thead>
                <tr class="text-center">
                    <th scope="col">Name Querry</th>
                    <th scope="col">Name Schedule</th>
                    <th scope="col">Environment</th>
                    <th scope="col">Schedule Date</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Active</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for query in queries %}
                    {% for execution in query.executions %}
                    <tr>
                        <td class="align-middle text-center">{{ query.Name }}</td>
                        <td class="align-middle text-center">{{ execution.Name }}</td>
                        <td class="align-middle text-center">
                            <div class="form-check form-check-inline d-flex justify-content-center align-items-center">
                                <input type="checkbox" class="form-check-input inputField " id="envmt_Test_{{ execution.Id }}" {{ 'checked' if execution.envmt_Test }} disabled>
                                <label class="form-check-label" for="envmt_Test_{{ execution.Id }}" >Test</label>
                            </div>
                            <div class="form-check form-check-inline d-flex justify-content-center align-items-center">
                                <input type="checkbox" class="form-check-input inputField " id="envmt_Prod_lu_{{ execution.Id }}" {{ 'checked' if execution.envmt_Prod_lu }} disabled>
                                <label class="form-check-label" for="envmt_Prod_lu_{{ execution.Id }}" >Prod LU</label>
                            </div>
                            <div class="form-check form-check-inline d-flex justify-content-center align-items-center">
                                <input type="checkbox" class="form-check-input inputField" id="envmt_Prod_ch_{{ execution.Id }}" {{ 'checked' if execution.envmt_Prod_ch }} disabled>
                                <label class="form-check-label" for="envmt_Prod_ch_{{ execution.Id }}" >Prod CH</label>
                            </div>
                        </td>
                        {% if execution.frequency == 'daily' %}
                            <td>
                                <div class="col-auto">
                                    <label class="form-check-label" for="start_date_home_{{ execution.Id }}">Beginning
                                        :</label>
                                    <input type="text"
                                           class="form-control form-control-plaintext inputFieldSmall mx-auto d-block"
                                           id="start_date_home_{{ execution.Id }}" value="{{ execution.start_date }}"
                                           readonly
                                           style="color: #FFFFFF; background-color: #212121;width: 110px;">
                                </div>
                                <div class="col-auto">
                                    <label class="form-check-label" for="end_date_home_{{ execution.Id }}">End :</label>
                                    <input type="text"
                                           class="form-control form-control-plaintext inputFieldSmall mx-auto d-block"
                                           id="end_date_home_{{ execution.Id }}" value="{{ execution.end_date }}" readonly
                                           style="color: #FFFFFF; background-color: #212121; width: 110px;">
                                </div>
                            </td>
                        {% elif execution.frequency == 'weekly' %}
                            <td>
                               <div id="weekly_day{{ execution.Id }}" class="align-items-center mt-2"
                                             style="margin-top: 20px;margin-bottom: 20px">
                                    <label class="form-check-label mr-2"
                                           for="Intraday_Schedule_home_{{ execution.Id }}"
                                           style="color: white;">
                                        Day(s) of the week
                                    </label>
                                    <br>
                                    <br>
                                    <ul style="background-color: rgb(33, 33, 33);padding-right: 20px;border-radius: 10px;padding-block: 10px;">
                                        {% set days = execution.weekly_day.split(',') %}
                                        {% for day in days %}
                                            <li>{{ day.strip() }}</li>
                                        {% endfor %}
                                    </ul>
                               </div>
                            </td>
                        {% endif %}
                        <td class="align-middle text-center">{{ execution.frequency }}</td>
                        <td class="align-middle text-center">{{ execution.Status }}</td>
                        <td class="align-middle text-center">
                            <div class="btn-group d-flex justify-content-center" role="group">
                                <form action="{{ url_for('main.delete_execution', id=execution.Id) }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-outline btn-danger mr-1" type="submit">Delete</button>
                                </form>
                                <form action="{{ url_for('main.querry_details', id=query.Id) }}" method="GET">
                                    <button class="btn btn-outline btn-success mr-1" type="submit">Info</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                {% for group_item in group %}
                    {% for execution in group_item.execution_query %}
                        <tr>
                            <td class="align-middle text-center">{{ group_item.group_name }}</td>
                            <td class="align-middle text-center">{{ execution.Name }}</td>
                            <td class="align-middle text-center">
                                <div class="form-check form-check-inline d-flex justify-content-center align-items-center">
                                    <input type="checkbox" class="form-check-input inputField " id="envmt_Test_{{ execution.Id }}" {{ 'checked' if execution.envmt_Test }} disabled>
                                    <label class="form-check-label" for="envmt_Test_{{ execution.Id }}" >Test</label>
                                </div>
                                <div class="form-check form-check-inline d-flex justify-content-center align-items-center">
                                    <input type="checkbox" class="form-check-input inputField " id="envmt_Prod_lu_{{ execution.Id }}" {{ 'checked' if execution.envmt_Prod_lu }} disabled>
                                    <label class="form-check-label" for="envmt_Prod_lu_{{ execution.Id }}" >Prod LU</label>
                                </div>
                                <div class="form-check form-check-inline d-flex justify-content-center align-items-center">
                                    <input type="checkbox" class="form-check-input inputField" id="envmt_Prod_ch_{{ execution.Id }}" {{ 'checked' if execution.envmt_Prod_ch }} disabled>
                                    <label class="form-check-label" for="envmt_Prod_ch_{{ execution.Id }}" >Prod CH</label>
                                </div>
                            </td>
                            {% if execution.frequency == 'daily' %}
                                <td>
                                    <div class="col-auto">
                                        <label class="form-check-label" for="start_date_home_{{ execution.Id }}">Beginning
                                            :</label>
                                        <input type="text"
                                               class="form-control form-control-plaintext inputFieldSmall mx-auto d-block"
                                               id="start_date_home_{{ execution.Id }}" value="{{ execution.start_date }}"
                                               readonly
                                               style="color: #FFFFFF; background-color: #212121;width: 110px;">
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-check-label" for="end_date_home_{{ execution.Id }}">End :</label>
                                        <input type="text"
                                               class="form-control form-control-plaintext inputFieldSmall mx-auto d-block"
                                               id="end_date_home_{{ execution.Id }}" value="{{ execution.end_date }}" readonly
                                               style="color: #FFFFFF; background-color: #212121; width: 110px;">
                                    </div>
                                </td>
                            {% elif execution.frequency == 'weekly' %}
                                <td>
                                   <div id="weekly_day{{ execution.Id }}" class="align-items-center mt-2"
                                                 style="margin-top: 20px;margin-bottom: 20px">
                                        <label class="form-check-label mr-2"
                                               for="Intraday_Schedule_home_{{ execution.Id }}"
                                               style="color: white;">
                                            Day(s) of the week
                                        </label>
                                        <br>
                                        <br>
                                        <ul style="background-color: rgb(33, 33, 33);padding-right: 20px;border-radius: 10px;padding-block: 10px;">
                                            {% set days = execution.weekly_day.split(',') %}
                                            {% for day in days %}
                                                <li>{{ day.strip() }}</li>
                                            {% endfor %}
                                        </ul>
                                   </div>
                                </td>
                            {% endif %}
                            <td class="align-middle text-center">{{ execution.frequency }}</td>
                            <td class="align-middle text-center">{{ execution.Status }}</td>
                            <td class="align-middle text-center">
                                <div class="btn-group d-flex justify-content-center" role="group">
                                    <form action="{{ url_for('main.delete_execution', id=execution.Id) }}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="btn btn-outline btn-danger mr-1" type="submit">Delete</button>
                                    </form>
                                    <form action="{{ url_for('main.group_details', id=group_item.id) }}" method="GET">
                                        <button class="btn btn-outline btn-success mr-1" type="submit">Info</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block JS %}
    document.getElementById('searchBar').addEventListener('keyup', function() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById('searchBar');
    filter = input.value.toUpperCase();
    table = document.getElementById('queryTable');
    tr = table.getElementsByTagName('tr');

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[1];  // Change this to the column index you want to filter on
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = '';
            } else {
                tr[i].style.display = 'none';
            }
        }
    }
});
{% endblock %}
