{% extends 'base.html' %}
{% block style %}
    /* Style for next execution */
    .next-execution {
        margin: 20px auto;
        max-width: 800px;  /* Limiting the width */
        padding: 15px 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        /*border-left: 20px solid #007BFF*/;
    }

    .next-execution:hover {
        transform: translateY(-5px);
    }

    .next-execution strong {
        display: block;
        margin-bottom: 10px;
        font-size: 1.3em;
        color: #333;
        border-bottom: 2px solid #eee;
        padding-bottom: 10px;
    }

    .next-execution ul {
        margin: 10px 0 0 0;
        padding: 0;
        list-style-type: none;
        font-size: 1.1em;
    }

    .next-execution li {
        margin: 0;
        padding: 0;
        color: #555;
        line-height: 1.6;
        border-radius: 5px;
        padding: 8px;
        background-color: #f7f7f7;  /* Slight gray background for each list item */
        margin-bottom: 8px;
        border-left: 20px solid;
    }
    /* General Styles for the Accordion */
    #queriesAccordion {
        width: 90%;
        margin: 20px auto;
    }

    /* Card Styles */
    #queriesAccordion .card {
        border: none;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
    }

    #queriesAccordion .card-header {
        background-color: #f7f7f7;
        border-radius: 5px 5px 0 0; /* Rounded corners on the top only for the card header */
        padding: 0; /* Remove default padding */
    }

    #queriesAccordion .card-header h5 .btn-link {
        padding: 0;
        margin: 0;
        color: #333;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: left;
        padding: 1.25rem 1.25rem; /* Adding padding here to keep the original spacing */
    }

    /* Conditional styles for border radius depending on card's expansion state */
    #queriesAccordion .card:not(:last-of-type) .collapse.show + .card-header {
        border-radius: 0;
    }

    #queriesAccordion .card:not(:first-of-type) .collapse:not(.show) + .card-header {
        border-radius: 5px 5px 0 0;
    }

    /* Inner Table Styles */
    #queriesAccordion .table-dark {
        background-color: transparent;
        border-radius: 0;
    }

    #queriesAccordion .table-dark th,
    #queriesAccordion .table-dark td {
        border-color: #dee2e6;
        background-color: transparent;
    }

    #queriesAccordion .table {
        width: 100%;
        margin: 0;
    }

    #queriesAccordion .card-body {
        padding: 1rem;
    }

    #queriesAccordion .table-hover tbody tr:hover {
        background-color: #f5f5f5;
    }

    /* Setting explicit text color for table contents */
    #queriesAccordion .table-dark th,
    #queriesAccordion .table-dark td {
        border-color: #dee2e6;
        background-color: transparent;
        color: #333;  /* Setting the text color to a darker shade */
    }
{% endblock %}


{% set color_index = [0] %}
{% block content %}
    <br>
    {% if next_jobs %}
        <div class="next-execution">
            <strong>Next jobs execution at {{ next_jobs[0].next_execution }}:</strong>
            <ul>
                {% for job in next_jobs %}
                    <li style="border-left-color: {{ rdm_color[color_index[0]] }};">{{ job.query_name }}</li>
                    {% set _ = color_index.append(color_index[0] + 1) %}
                    {% set _ = color_index.pop(0) %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <br>
    <br>
    <br>
    <!-- Grouped jobs by query using an accordion -->
    <div class="accordion" id="queriesAccordion">
        {% for query_name, jobs in grouped_jobs.items() %}
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}" style="border-left: 20px solid {{ rdm_color[color_index[0]] }};">
                    {% set _ = color_index.append(color_index[0] + 1) %}
                    {% set _ = color_index.pop(0) %}
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                            {{ query_name }}
                        </button>
                    </h5>
                </div>
                <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#queriesAccordion">
                    <div class="card-body">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Query Name</th>
                                    <th scope="col">Job Id</th>
                                    <th scope="col">Execution Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in jobs %}
                                    <tr>
                                        <td>{{ job.query_name }}</td>
                                        <td>{{ job.job.id }}</td>
                                        <td>{{ job.next_execution }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}