<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap static -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
      <title>
          {% block title %}

          {% endblock %}
      </title>
      {% block stylesheet %}

      {% endblock %}
   </head>
   <body>
   <header>

        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js">
{
  "symbols": [
    {"proName": "FOREXCOM:SPXUSD", "title": "S&P 500"},
    {"proName": "FOREXCOM:NSXUSD", "title": "US 100"},
    {"proName": "BITSTAMP:BTCUSD", "title": "Bitcoin"},
    {"proName": "BITSTAMP:ETHUSD", "title": "Ethereum"},
    {"description": "Apple", "proName": "NASDAQ:AAPL"}
  ],
  "showSymbolLogo": false,
  "colorTheme": "dark",
  "isTransparent": true,
  "displayMode": "adaptive",
  "locale": "fr"
}
</script>
</div>

  <!-- TradingView Widget END -->



            <!-- TradingView Widget END -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a href="{{ url_for('home_page') }}" asp-controller="Home" class="animated-link">
                        <img src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="Logo Neoma Ventures"
                             class="logo_esigelec">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if current_user.is_authenticated %}
                    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                        <a href="{{ url_for('login_register_page') }}" class="animated-link">
                            <span class="material-symbols-outlined material-icons-white" style="font-size: 40px;">account_circle</span>
                        </a>
                        <a href="{{ url_for('combined_survey_investment') }}" class="animated-link">
                            <span> Build Portflio </span>
                        </a>
                        <a href="{{ url_for('logout_page') }}" class="animated-link">
                            <span> Log Out </span>
                        </a>

                    </div>
                    {% else %}
                    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                        <a href="{{ url_for('login_register_page') }}" class="animated-link">
                            <span> Login </span>
                        </a>
                        <a href="" class="animated-link">
                            <span> Our Team </span>
                        </a>
                        <a href="{{ url_for('combined_survey_investment') }}" class="animated-link">
                            <span> Build Portflio </span>
                        </a>
                        <a asp-action="Index" asp-controller="Companies" class="animated-link">
                            <span> Market </span>
                        </a>
                        <a href="#contact" class="animated-link">
                            <span> Contact </span>
                        </a>

                    </div>
                </div>
                {% endif %}
            </nav>
    </header>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}

      {% endblock %}
      <!-- Future Content here -->



      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
</html>