{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/survey.css') }}">
{% endblock %}
{% block content %}
<div class="container" id="container">
    <form method="POST" action="{{ url_for('combined_survey_investment') }}">
        {{ risk_form.hidden_tag() }}
        {{ investment_form.hidden_tag() }}

        <!-- Section 1 -->
        <div class="form-section" id="section1" style="display: block;">
            <div class="mb-3">
                <p>{{ risk_form.question1.label }}</p>
                {% for subfield in risk_form.question1 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="mb-3">
                <p>{{ risk_form.question2.label }}</p>
                {% for subfield in risk_form.question2 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="navigation-buttons">
            <button type="button" class="btn btn-primary" onclick="navigate(1)">Next</button>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="form-section" id="section2" style="display: none;">
            <div class="mb-3">
               <p> {{ risk_form.question3.label }}</p>
                {% for subfield in risk_form.question3 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="mb-3">
               <p> {{ risk_form.question4.label }}</p>
                {% for subfield in risk_form.question4 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="navigation-buttons">
            <button type="button" class="btn btn-secondary" onclick="navigate(-1)">Previous</button>
            <button type="button" class="btn btn-primary" onclick="navigate(1)">Next</button>
            </div>
        </div>
        <!-- Section 2 -->
        <div class="form-section" id="section2" style="display: none;">
            <div class="mb-3">
                <p>{{ risk_form.question5.label }}</p>
                {% for subfield in risk_form.question5 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="mb-3">
                <p>{{ risk_form.question6.label }}</p>
                {% for subfield in risk_form.question6 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="navigation-buttons">
            <button type="button" class="btn btn-secondary" onclick="navigate(-1)">Previous</button>
            <button type="button" class="btn btn-primary" onclick="navigate(1)">Next</button>
            </div>
        </div>
        <!-- Section 2 -->
        <div class="form-section" id="section2" style="display: none;">
            <div class="mb-3">
                <p>{{ risk_form.question7.label }}</p>
                {% for subfield in risk_form.question7 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="mb-3">
                <p>{{ risk_form.question8.label }}</p>
                {% for subfield in risk_form.question8 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="navigation-buttons">
            <button type="button" class="btn btn-secondary" onclick="navigate(-1)">Previous</button>
            <button type="button" class="btn btn-primary" onclick="navigate(1)">Next</button>
            </div>
        </div>
        <!-- Section 2 -->
        <div class="form-section" id="section2" style="display: none;">
            <div class="mb-3">
                <p>{{ risk_form.question9.label }}</p>
                {% for subfield in risk_form.question9 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="mb-3">
                <p>{{ risk_form.question10.label }}</p>
                {% for subfield in risk_form.question10 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="navigation-buttons">
            <button type="button" class="btn btn-secondary" onclick="navigate(-1)">Previous</button>
            <button type="button" class="btn btn-primary" onclick="navigate(1)">Next</button>
            </div>
        </div>
         <!-- Section 2 -->
         <div class="form-section" id="section2" style="display: none;">
            <div class="mb-3">
                <p>{{ risk_form.question11.label }}</p>
                {% for subfield in risk_form.question11 %}
                    <label class="radio-label">
                        {{ subfield() }} <!-- This will render the radio input -->
                        <span></span> <!-- Custom radio button -->
                        {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
            <div class="navigation-buttons">
            <button type="button" class="btn btn-secondary" onclick="navigate(-1)">Previous</button>
            <button type="button" class="btn btn-primary" onclick="navigate(1)">Next</button>
            </div>
        </div>

        <!-- Dernière Section -->
        <div class="form-section" id="lastSection" style="display: none;">
            <!-- Capital to Invest Slider -->
                <label for="capital">Capital to Invest:</label>
                <input type="range" id="capitalRange" name="capital" min="1" max="100000" value="0" oninput="updateNumberInput(this.value)">
                <div style="text-align: center;">
                  <input type="number" id="capitalNumber" name="capitalNumber" min="1" max="100000" value="0" oninput="updateRangeInput(this.value)" style="width: auto; max-width: 150px; text-align: center; margin-left: auto; margin-right: auto;">
                </div>



                <!-- Investment Horizon Slider -->
                <label for="investment_horizon">Investment Horizon (in years):</label>
                <input type="range" id="investment_horizon" name="investment_horizon" min="1" max="15" value="1" oninput="this.nextElementSibling.value = this.value">
                <output>1</output>

                <!-- Number of Assets in Portfolio Slider -->
                <label for="nb_assets">Number of Assets in Portfolio:</label>
                <input type="range" id="nb_assets" name="nb_assets" min="1" max="20" value="1" oninput="this.nextElementSibling.value = this.value">
                <output>1</output>
            
            <div class="navigation-buttons">
                <button type="button" class="btn btn-secondary" onclick="navigate(-1)">Previous</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
