{% extends 'base.html' %}
{% block title %}
    Acceuil
{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

    <!-- Fin haut de page-->
    <!--Debut de section 1 -->
</script>
        <div class="container-fluid my-5">
            <div class="container">
                <p>
                    <span>
                        Sculpt Your Financial Future with 
                    </span>
                </p>
                <p>
                    <span>
                        Precision Portfolio Crafting
                    </span>
                </p>
            </div>
        </div>
        </p>
        <div class="col-sm-12 col-lg-5">
            <h1 style="margin-top: 20%;"></h1>
        </div>
        <div class="row align-items-center my-5">
            <div class="col-lg-6" id="text_left">
                <div class="text-content">
                    <p>Neoma Venture is at the forefront of revolutionizing portfolio management with a focus on risk-adjusted strategies.</p>
                    <p>For over a decade, we have been innovating in the financial services sector, now managing over $3 billion in assets.</p>
                    <p>Our unique approach combines cutting-edge technology with tailored risk assessment tools, ensuring optimized portfolios.</p>
                    <p>Neoma Venture provides dynamic and forward-thinking investment solutions, enabling our clients to achieve their financial goals with confidence.</p>
                </div>
            </div>
            <div class="col-lg-6" id="right">
                <img src="{{ url_for('static', filename='images/imageIphone.png') }}" alt="Iphone" class="img-fluid" style="
    margin-left: 13em;
">
            </div>
        </div>

    
        <div class="col-sm-12 col-lg-5">
            <h1 style="margin-top: 30%;"></h1>
        </div>
        <div class="icon-grid">
            <div class="icon">
                <img src="{{ url_for('static', filename='images/rocket.svg') }}" alt="icone" id="SECTION2">
                <i class="fa fa-star"></i>
                <p>NEOMA VENTURE STANDS OUT FOR ITS RAPID AND DYNAMIC UPDATES, CONSTANTLY EVOLVING WITH NEW FEATURES BASED ON VALUED CLIENT FEEDBACK. OUR COMMITMENT TO RESPONSIVENESS ENSURES THAT WE STAY AHEAD IN MEETING OUR CLIENTS' EVOLVING NEEDS IN PORTFOLIO MANAGEMENT.</p>
            </div>
            <div class="icon">
                <img src="{{ url_for('static', filename='images/phone.svg') }}" alt="icone2">
                <i class="fa fa-heart"></i>
                <p>NEOMA VENTURE SUPPORTS A WIDE ARRAY OF ASSET CLASSES, COVERING MORE THAN 30 GLOBAL CRYPTOCURRENCY AND STOCK TRADING PLATFORMS. ADDITIONALLY, OUR PLATFORM IS FULLY COMPATIBLE WITH ALL MAJOR GLOBAL INDICES AND A DIVERSE RANGE OF COMMODITIES, ENSURING A COMPREHENSIVE INVESTMENT EXPERIENCE.</p>
            </div>
            <div class="icon">
                <img src="{{ url_for('static', filename='images/hub.svg') }}" alt="icone2">
                <i class="fa fa-smile"></i>
                <p>AT NEOMA VENTURE, WE CREATE SEAMLESS CONNECTIONS BETWEEN COMPANIES AND THEIR CURRENT OR POTENTIAL INVESTORS. STAY INFORMED WITH INSTANT UPDATES ON INVESTOR RELATIONS DIRECTLY THROUGH OUR PLATFORM, ENSURING SMOOTH AND TRANSPARENT COMMUNICATIONS.</p>
            </div>
            <div class="icon">
                <img src="{{ url_for('static', filename='images/euro.svg') }}" alt="icone2">
                <i class="fa fa-thumbs-up"></i>
                <p>SEARCHING FOR AN ALL-INCLUSIVE SOLUTION FOR STOCK PRICE, CRYPTO INDEX, AND MUTUAL FUND TRACKING? NEOMA VENTURE INTEGRATES ALL THESE FEATURES INTO ONE EFFICIENT, USER-FRIENDLY APPLICATION. SWITCHING BETWEEN MULTIPLE PLATFORMS IS A THING OF THE PAST – WITH NEOMA VENTURE, ALL YOUR INVESTMENT DATA IS ACCESSIBLE IN ONE PLACE!</p>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5">
            <h1 style="margin-top: 30%;"></h1>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}
