{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myPortfolio.css') }}">
{% endblock %}

{% block content %}
<div class="portfolios-list">
    <div style="text-align: center; color: white; margin-top: 20px;">
       <h2>My Portfolios</h2>
    </div>
    {% for portfolio in portfolios %}
    <div class="portfolio-item">
        <div class="portfolio-detail">{{ portfolio.name }}</div>
        <div class="portfolio-detail">{{ portfolio.capital | format_currency }}</div>
        <div class="portfolio-detail asset-list">
            {% for asset in portfolio.list_selected_assets.split(',') %}
            <span>{{ asset.strip() }}</span>{% if not loop.last %} | {% endif %}
            {% endfor %}
        </div>
        <!-- Rename portfolio form -->
        <form action="{{ url_for('rename_portfolio') }}" method="post">
            <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
            <input type="text" name="new_name" placeholder="Enter new name">
            <input type="submit" class="btn-rename" value="Rename">
        </form>
        <form action="{{ url_for('delete_portfolio') }}" method="post" onsubmit="return confirm('Are you sure you want to delete this portfolio?');">
            <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
            <input type="submit" class="btn-delete "value="Delete">
        </form>
            <a href="{{ url_for('see_details', portfolio_id=portfolio.id) }}">See more details</a>

    </div>
    {% else %}
    <div class="portfolio-item">
        <p>No portfolios found.</p>
    </div>
    {% endfor %}
</div>
    <!-- Fin haut de page-->
    <!--Debut de section 1 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}

