{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myPortfolio.css') }}">
{% endblock %}

{% block content %}
<div class="accordion" id="portfolioAccordion">
    <div style="text-align: center; color: white; margin-top: 20px;">
       <h2>My Portfolios</h2>
    </div>
  {% for portfolio in portfolios %}
    <div class="card">
      <div class="card-header" id="heading{{ portfolio.id }}">
        <h2 class="mb-0">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ portfolio.id }}" aria-expanded="true" aria-controls="collapse{{ portfolio.id }}">
            {{ portfolio.name }} - {{ portfolio.capital | format_currency }}
          </button>
        </h2>
      </div>

      <div id="collapse{{ portfolio.id }}" class="collapse" aria-labelledby="heading{{ portfolio.id }}" data-parent="#portfolioAccordion">
        <div class="card-body">
          <!-- Your details here -->
          <div>Assets: {{ portfolio.list_selected_assets }}</div>
          <form action="{{ url_for('rename_portfolio') }}" method="post">
            <!-- Rename form inputs and submit button -->
          </form>
          <form action="{{ url_for('delete_portfolio') }}" method="post">
            <!-- Delete form inputs and submit button -->
          </form>
          <a href="{{ url_for('see_details', portfolio_id=portfolio.id) }}">See more details</a>
        </div>
      </div>
    </div>
  {% else %}
    <div>No portfolios found.</div>
  {% endfor %}
</div>

    <!-- Fin haut de page-->
    <!--Debut de section 1 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}

