{% extends 'base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plot_choosen_portfolio.css') }}">
{% endblock %}
{% block content %}
    <div id="portfolio-plots" style="overflow: hidden; border-radius: 50px; margin: 30px 40px auto 40px;"></div>

    <!-- Plotly JavaScript library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var plotData = JSON.parse('{{ plot_data | safe }}'); // Parse the JSON string into a JavaScript object
        var layout = {
            title: 'Top Portfolio Selections',
            xaxis: { title: 'Volatility' },
            yaxis: { title: 'Expected Return' },
            margin: { l: 50, r: 50, b: 50, t: 50, pad: 4 },
            showlegend: false,
            autosize: true, // Allows plot to resize based on the container size
            bordercolor: 'black',
            borderwidth: 2,
            paper_bgcolor: 'rgba(0,0,0,0)' // Set transparent background
        };
        var config = {
            displayModeBar: false, // Hides the toolbar
            responsive: true // Ensures the plot is responsive to window changes
        };
        Plotly.newPlot('portfolio-plots', plotData, layout, config);
    </script>
    <footer>

        <div class="container-fluid">
            <div class="row">
                <h1 style="color:white">Read More</h1>
                <div class="mention col-lg-4">
                    <h3>General Terms of Sale</h3>
                    <p>
                    Our General Terms of Sale outline the agreement between our company and our clients. These terms include information on order processing, delivery procedures, and return policies. We commit to providing high-quality services and products, ensuring customer satisfaction is at the forefront of our operations. Our terms also detail payment methods, warranty information, and the process for handling disputes.
                    </p>
                </div>
                <div class="mention col-lg-4">
                    <h3>Cookie Management Policy</h3>
                    <p>
                    Our Cookie Management Policy describes how we use cookies to enhance user experience on our website. We use cookies for website functionality, analytics, and personalized content. Users have the option to manage their cookie preferences, ensuring a balance between personalization and privacy. Our policy provides detailed information on the types of cookies used and how they contribute to a better user experience.
                    </p>
                </div>
                <div class="mention col-lg-4">
                    <h3>Data Protection Policy</h3>
                    <p>
                    The Data Protection Policy of our website is dedicated to safeguarding the personal information of our users. We adhere to strict privacy standards and employ robust security measures to protect user data. This policy outlines the types of data we collect, how it is used, and the rights of users regarding their personal information. We are committed to transparency and accountability in all our data handling practices.
                </div>
            </div>
            <p id="contact">Contact :  | &copy; 2023, NEOMA</p>
        </div>
    </footer>

{% endblock %}
