{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plot_portfolio.css') }}">
{% endblock %}
{% block content %}

<div id="portfolio-plots" style="overflow: hidden; border-radius: 50px; margin: 30px 40px auto 40px;"></div>

<!-- Flask-WTF form -->
<form action="{{ url_for('portfolio_options') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <p>{{ form.portfolio_choice.label }}</p>
        {{ form.portfolio_choice(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

<!-- Include Plotly.js library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var plotData = JSON.parse('{{ plot_data | safe }}');  // S'assurer que la donnée est convertie de JSON à un objet JavaScript
    var layout = {
        title: 'Top Portfolio Selections',
        xaxis: { title: 'Volatility' },
        yaxis: { title: 'Expected Return' },
        margin: { l: 50, r: 50, b: 50, t: 50, pad: 4 },
        showlegend: false
    };
    var config = {
        displayModeBar: false,
        responsive: true
    };
    Plotly.newPlot('portfolio-plots', plotData, layout, config);
    </script>
{% endblock %}

