html {
    scroll-behavior: smooth;
    display: flex ;
}
*,
::before,::after {
    margin: 0;
    padding: 0;
}
#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color: white;
    z-index: 9999;
}

body {
    width: 100%;
    height: 100%;
    min-width: 600px;
    background-color: black; 
    background-position: center;
    font-family: Montserrat, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    color: #faebd7;
    font-weight: 900;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 20px 0;
}
p {
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
}
p span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 8vw, 80px);
}
p span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
p:nth-child(1) {
    font-weight: 300;
    animation: txt-appearance 0s 1s forwards;
}
p:nth-child(2) {
    animation: txt-appearance 0s 1.25s forwards;
}
p:nth-child(1) span::after {
    background: salmon;
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
p:nth-child(2) span::after {
    background: royalblue;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}
@keyframes txt-appearance {
    100% {
        color: #faebd7;
    }
}

nav.navbar.navbar-expand-lg {
    margin-left: 0px;
    min-width: 100%;
    box-shadow: 0px 2px black;
    font-size : 20px;
}

img.logo_esigelec {
    height: 100px;
    width: auto;
}

.container1 {
    margin-left: 0px;
    min-width: 100%;
    box-shadow: 2px 3px 3px black;
    font-size: 20px;
}
#text{
    font-size : 20px;
}
#droite {
    float: right;
    width: 10%;
}
#gauche{
    float : left;
    width : 20%
}
.container2 {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    margin-left: 100px;
    min-width: 100%;
    height: 500px;
}

.row {
    width: 100%;
}

.texte {
    margin-top: 25px;
    font-size: 25px;
    text-align: justify;
}

.animated-link {
    display: inline-block;
    background: black;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 15px;
}
imGauche.ImageGauche{
    float : left;
    margin-right : 10px;
}

    .animated-link span {
        display: inline-block;
        background: black;
        color: #fff;
        border:  solid rgb(0, 0, 0);
        padding: 5px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 3px;
        margin-top: 10px;
    }

    .animated-link:hover span {
        transform: translate(-4px,-4px);
        color: white;
        background: #000;
        opacity: 1;
    }

.images {
    display: flex;
    animation-duration: 30s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}

.esigelec {
    width: 800px;
    overflow: hidden;
    border: 3px solid grey;
    max-height: 600px;
    height: auto;
}
.actualits h1 {
    border-bottom: 1px solid #fff;
}

.content {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: -80px;
    height: 100vh;
    margin-left: 100px;
    min-width: 100%;
    height: 500px;
    width: 100%;
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

    .main .content a {
        color: #fff;
        text-decoration: none;
    }

    .main .content .card {
        display: flex;
        flex-wrap: wrap;
        /* Si la rsolution ne le permet pas nous allons empiler les lements et non les aligner*/
        justify-content: center;
        /* Permet de centrer les lments*/
        margin-bottom: 20px;
        border: none;
    }

        .main .content .card .gauche {
            flex: 0 0 30%;
            /* Permet d'avori un flex moins grand dans la partie gauche,  savoir que flex donne la possibilit  un lment de remplir l'espace*/
            padding-top: 170px;
            padding-right: 110px;
            padding-bottom: 170px;
            padding-left: 110px;
            background-color: black;
            color: #fff;
            /* Couleur de la police */
            margin-left: 100px;
        }

            .main .content .card .gauche h1 {
                font-family: 'Playfair Display', sans-serif;
                border-bottom: 1px solid #fff;
            }

        .main .content .card .droite {
            flex: 0 0 70%;
        }

            .main .content .card .droite img {
                height: 400px;
                width: 600px;
                margin-top: 5px;
            }

footer {
    text-align: center;
    border-top: 5px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 30px 100px;
    /* Marge interieur */
}

    footer h1 {
        text-align : center;
        font-family: 'Playfair Display', sans-serif;
        border-bottom: 1px solid #fff;
        width: 15%;
        margin-bottom: 30px;
    }
    footer h3 {
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
        margin: 0 auto;
        display: block;
        margin-bottom: auto;
        line-height: normal;
        
    }

    footer .mentions .mention {
        margin-top: -5px;
        display: flex;
        flex-wrap: wrap;
    }

        footer .mentions .mention p {
            margin-right: 30px;
        }

    footer #contact {
        color: rgb(181, 181, 181);
    }

    footer .mention {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
.icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .icon i {
        font-size: 48px;
        margin-bottom: 10px;
    }
    .icon img {
        width: 50px;
        height: 50px;
    }

footer .p {
    text-align: center;
}
.contentJS {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.contentJS {
    font-family: Raleway, sans-serif;
    font-size: 60px;
    padding: 0.5em 0;
}

.contentJS p {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

.element {
    opacity: 0;
    transform: translateX(-100%); /* This moves the element to the left out of view */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Define the transition */
  }
  
  .element.active {
    opacity: 1;
    transform: translateX(0); /* Move the element back to its original position */
  }
    

.slide-in {
    margin: 50px auto;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.1s ease-in-out,opacity 0.5s ease-out;
}
.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}
.slide-in h2 {
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
}
.slide-in label {
    display: block;
    text-align: center;
    color: #f1f1f1;
    font-size: 20px;
    margin: 5px 0 10px;
}
.animate-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
.animate-on-scroll.active {
opacity: 1;
}
.content {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.highlight {
color: #555;
font-weight: bold;
}
.uppercase { text-transform: uppercase; }
.lead {
font-size: 20px;
margin-bottom: 20px;
}

