html {
    scroll-behavior: smooth;
    display: flex ;
}
*,
::before,::after {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    min-width: 600px;
    background-color: black;
    background-position: center;
    font-family: Montserrat, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 20px 0;
}
p {
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: 900;
}

nav.navbar.navbar-expand-lg {
    margin-left: 0px;
    min-width: 100%;
    font-size : 20px;
}

img.logo_esigelec {
    height: 100px;
    width: auto;
}

.container1 {
    margin-left: 0px;
    min-width: 100%;
    box-shadow: 2px 3px 3px black;
    font-size: 20px;
}
#text{
    font-size : 20px;
}

.container2 {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    margin-left: 100px;
    min-width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

.row {
    width: 100%;
}

.texte {
    margin-top: 25px;
    font-size: 25px;
    text-align: justify;
}

.animated-link {
    display: inline-block;
    background: black;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 15px;
}

.animated-link span {
    display: inline-block;
    background: black;
    color: #fff;
    border:  solid rgb(0, 0, 0);
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    margin-top: 10px;
}

.animated-link:hover span {
    transform: translate(-4px,-4px);
    color: white;
    background: #000;
    opacity: 1;
}


.content {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: -80px;
    height: 100vh;
    margin-left: 100px;
    min-width: 100%;
    height: 500px;
    width: 100%;
}


footer {
    margin-top: 42em;
    width: 100%;
    background-color: #333;
    color: #f1f1f1;
    padding: 1rem 0; /* Adjust padding to control height */
    font-size: 0.9rem;
}

footer h1, footer h3 {
    color: #fff; /* White color for headings in footer */
    margin-bottom: 1rem; /* Margin bottom for spacing */
}

footer p {
    color: #ccc; /* Light gray for paragraph text for better readability */
    line-height: 1.6; /* Line height for better text flow */
}

footer a {
    color: #4da6ff; /* Highlight links with a light blue color */
    text-decoration: none; /* Remove underline from links */
}

footer a:hover {
    text-decoration: underline; /* Add underline on hover for links */
}

footer .mentions .mention {
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
}

footer .mentions .mention p {
    margin-right: 30px;
}

footer #contact {
    color: rgb(181, 181, 181);
}
/* Other CSS styles ... */
/* Styling for the portfolios list */
.portfolios-list {
    width: 100%;
    border-collapse: collapse; /* Remove space between borders */
}

.portfolios-list h2 {
    color: white;
}


.portfolio-item {
    padding: 1rem; /* Spacing inside each portfolio item */
    color: white; /* Text color */
    display: flex; /* Align items in a row */
    justify-content: space-between; /* Space out the child elements */
    align-items: center; /* Align items vertically */
}

.portfolio-detail {
    margin-right: 20px; /* Add some space between the details */
}

/* Removes the square brackets from the list */
.asset-list::before, .asset-list::after {
    content: none;
}

/* Ajoutez ces styles à votre CSS existant */

.portfolio {
    display: flex; /* Aligner les éléments horizontalement */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Centrer les éléments verticalement */
    color: white; /* Texte en blanc */
    border-bottom: 1px solid white; /* Séparateur blanc entre les portfolios */
    padding: 10px 0; /* Un peu de padding */
}

.portfolio h3 {
    margin: 0 10px; /* Espace autour du titre */
    white-space: nowrap; /* Empêcher le texte de passer à la ligne suivante */
}

/* Si vous avez un conteneur autour de chaque détail du portefeuille */
.portfolio-detail {
    margin-right: 20px; /* Ajouter de l'espace entre les détails */
}

/* Pour les listes d'actifs, afin de supprimer les guillemets et les crochets */
.asset-list::before, .asset-list::after {
    content: none; /* Supprimer les contenus ajoutés par ::before et ::after */
}
/* Styles for Rename and Delete buttons */
.btn-rename{
    padding: 5px 10px;
    color: white;
    background-color: #5cb85c; /* Green for Rename */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-delete {
    padding: 5px 10px;
    color: white;
    background-color: red; /* Green for Rename */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-details {
    padding: 5px 10px;
    color: white;
    background-color: lightsalmon; /* Green for Rename */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-rename:hover {
    background-color: #4cae4c; /* Darker green on hover for Rename */
}

/* Additional styles for input */
.input-rename {
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}

/* Flex container for buttons and input */
.portfolio-controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacer les éléments */
}

/* Adding some space between the buttons */
.portfolio-controls button {
  margin-left: .5rem;
}
#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color: white;
    z-index: 9999;
}

.card-header button {
  background-color: transparent; /* Rendre le fond du bouton transparent */
  color: #333; /* Couleur du texte du bouton */
  padding: 0; /* Supprimer le remplissage */
  font-size: 1.2rem; /* Ajuster la taille de la police */
  font-weight: bold; /* Mettre le texte en gras */
  text-align: left; /* Aligner le texte à gauche */
}

.card-header {
    display: flex;
    justify-content: space-between; /* This will push the content to the ends */
    align-items: center;
    padding: 10px;
    background-color: #fff; /* Adjust the background color as needed */
    border-bottom: 1px solid #ccc; /* Add a border if needed */
}
.card-header .portfolio-info {
    font-weight: bold;
    margin-right: 10px; /* Adjust spacing as needed */
}
.portfolio-distribution {
    padding: 10px;
    border-radius: 15px; /* Rounded corners for the distribution block */
    margin-left: 15px; /* Space it out from the button */
}

/* Ensure full width for button to maintain its clickable area */
.card-header .btn-block {
    width: calc(100% - 200px); /* Adjust the width as needed, 200px is an example */
}

.card-body {
  background-color: #fff; /* Couleur de fond du corps */
  padding: 20px; /* Ajuster le remplissage du corps */
  line-height: 1.6; /* Ajuster l'interligne */
}

.card {
  margin-bottom: 1rem; /* Ajouter de l'espace entre les cartes */
  box-shadow: 0 2px 5px rgba(0,0,0,.2); /* Ajouter une ombre pour un effet en relief */
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 20px; /* Rendre les coins plus arrondis */
}

.accordion {
  margin: 20px auto; /* Centrer l'accordéon et ajouter un espace autour */
  max-width: 90%; /* Limiter la largeur maximale de l'accordéon */
}
a {
    color: #4da6ff;
    text-decoration: none; /* This prevents underlining the text */
}
.btn-details:hover, .btn-delete:hover {
    color: white; /* Keeps the text white on hover */
    text-decoration: none; /* Ensures no underline appears */
}
.btn-delete:hover {
    background-color: #c9302c; /* Darker red on hover for Delete */
}

/* Custom close button style */
.close {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.close:hover,
.close:focus {
    opacity: 1;
    cursor: pointer;
}

.close span {
    font-size: 24px; /* Adjust the size of the 'X' as needed */
    font-weight: bold;
}

/* Optional: Add a circle background on hover */
.close:hover span {
    border-radius: 50%;
    padding: 0 6px; /* Adjust padding to fit the circle */
}
.buttons-container {
    display: flex; /* This will align your items in a row */
    align-items: center; /* This will vertically center align your items */
    justify-content: flex-start; /* This aligns items to the start of the container */
    gap: 10px; /* This adds space between your buttons */
}
.buttons-container a {
    color: inherit; /* This will ensure the text color stays consistent */
    text-decoration: none; /* Prevents underlining the text */
}
.portfolio-distribution-and-export {
    display: flex;
    align-items: center;
}

.btn-excel-export {
    background-color: transparent;
    border: none;
    margin-left: 15px; /* Spacing between distribution and button */
    cursor: pointer;
}

.btn-excel-export img {
    height: 2em; /* or the size you prefer */
    width: auto;
}

