html {
    scroll-behavior: smooth;
    display: flex ;
}
*,
::before,::after {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    /* Add other styles as needed */
}

/* If there are other containers wrapping your form, you may want to reset their margins and padding as well */

body {
    width: 100%;
    height: 100%;
    min-width: 600px;
    background-color: black; 
    background-position: center;
    font-family: Montserrat, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 20px 0;
}
p {
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
}

nav.navbar.navbar-expand-lg {
    margin-left: 0px;
    min-width: 100%;
    box-shadow: 0px 2px black;
    font-size : 20px;
}

img.logo_esigelec {
    height: 100px;
    width: auto;
}

.container1 {
    margin-left: 0px;
    min-width: 100%;
    box-shadow: 2px 3px 3px black;
    font-size: 20px;
}
#text{
    font-size : 20px;
}
.container2 {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    margin-left: 100px;
    min-width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

.row {
    width: 100%;
}

.texte {
    margin-top: 25px;
    font-size: 25px;
    text-align: justify;
}

.animated-link {
    display: inline-block;
    background: black;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 15px;
}
imGauche.ImageGauche{
    float : left;
    margin-right : 10px;
}

    .animated-link span {
        display: inline-block;
        background: black;
        color: #fff;
        border:  solid rgb(0, 0, 0);
        padding: 5px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 3px;
        margin-top: 10px;
    }

    .animated-link:hover span {
        transform: translate(-4px,-4px);
        color: white;
        background: #000;
        opacity: 1;
    }


.content {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: -80px;
    height: 100vh;
    margin-left: 100px;
    min-width: 100%;
    height: 500px;
    width: 100%;
}


footer {
    margin-top: 23em;
    position: relative; /* You might not need this if your content naturally pushes the footer down */
    bottom: 0;
    background-color: #333; /* Dark background for footer */
    color: #f1f1f1; /* Light text color for contrast */
    padding: 2rem 0; /* Padding for top and bottom */
    font-size: 0.9rem; /* Smaller font size for footer text */
    height: 412px;
}

footer h1, footer h3 {
    color: #fff; /* White color for headings in footer */
    margin-bottom: 1rem; /* Margin bottom for spacing */
}

footer p {
    color: #ccc; /* Light gray for paragraph text for better readability */
    line-height: 1.6; /* Line height for better text flow */
}

footer a {
    color: #4da6ff; /* Highlight links with a light blue color */
    text-decoration: none; /* Remove underline from links */
}

footer a:hover {
    text-decoration: underline; /* Add underline on hover for links */
}

    footer .mentions .mention {
        margin-top: -5px;
        display: flex;
        flex-wrap: wrap;
    }

        footer .mentions .mention p {
            margin-right: 30px;
        }

    footer #contact {
        color: rgb(181, 181, 181);
    }

    footer .mention {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
.icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .icon i {
        font-size: 48px;
        margin-bottom: 10px;
    }
    .icon img {
        width: 50px;
        height: 50px;
    }
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    .container{
        margin-top: 3%; /* Reduced from 3% to 1% */
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 80%;
        max-width: 100%;
        min-height: 480px;
        padding-top: 2.5%; /* If there was padding adding space, set it to 0 or reduce it */
    }
    
    .container p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
    }
    
    .container span{
        font-size: 12px;
    }
    
    .container a{
        color: #333;
        font-size: 13px;
        text-decoration: none;
        margin: 15px 0 10px;
    }
    
    .container button{
        background-color: #512da8;
        color: #fff;
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .container button.hidden{
        background-color: transparent;
        border-color: #fff;
    }
    
    .container form{
        background-color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
    }
    
    .container input{
        background-color: #eee;
        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none;
    }
    
    .form-container{
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }
    
    .previous{
        left: 0;
        width: 50%;
        z-index: 2;
    }
    
    .container.active .previous{
        transform: translateX(100%);
    }
    
    .after{
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
    
    .container.active .after{
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }
    @keyframes move{
        0%, 49.99%{
            opacity: 0;
            z-index: 1;
        }
        50%, 100%{
            opacity: 1;
            z-index: 5;
        }
    }
    
    .toggle-container{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 150px 0 0 100px;
        z-index: 1000;
    }
    
    .container.active .toggle-container{
        transform: translateX(-100%);
        border-radius: 0 150px 100px 0;
    }
    
    .toggle{
        background-color: #512da8;
        height: 100%;
        background: linear-gradient(to right, #5c6bc0, #512da8);
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
    
    .container.active .toggle{
        transform: translateX(50%);
    }
    
    .toggle-panel{
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
    
    .toggle-left{
        transform: translateX(-200%);
    }
    
    .container.active .toggle-left{
        transform: translateX(0);
    }
    
    .toggle-right{
        right: 0;
        transform: translateX(0);
    }
    
    .container.active .toggle-right{
        transform: translateX(200%);
    }
    /* Hide the default radio button */
    .radio-label {
        display: block; /* Each label will be a block, stacking vertically */
        position: relative; /* Position relative to allow absolute positioning of pseudo-elements */
        padding-left: 35px; /* Space for custom radio button */
        margin-bottom: 12px; /* Space between each radio button */
        cursor: pointer;
        font-size: 18px;
        user-select: none;
        text-align: left; /* Align text to the left */
    }
    
    .radio-label input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: 0; /* Position the actual radio button to the left */
        top: 0;
        width: 100%; /* Full width for clickable area */
        height: 100%; /* Full height for clickable area */
        margin: 0; /* Reset margin */
    }
    
    .radio-label span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        border: 2px solid #512da8;
    }
    
    .radio-label input[type="radio"]:checked + span {
        background-color: #512da8;
    }
    .radio-label span::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: white;
        display: none; /* Hide by default */
    }
    

    .question {
        width: 80%; /* Adjust width as needed */
        text-align: center; /* Center the text of the question */
        margin-bottom: 20px; /* Space between questions */
    }
    
    .navigation-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%; /* Full width of the section */
        padding: 20px; /* Padding around the buttons */
    }

    .navigation-buttons button {
        margin: 0 10px; /* Space between buttons if needed */
}
input[type="range"]::-moz-range-track {
  background: #ddd;
  border-radius: 4px;
  height: 8px;
  cursor: pointer;
}
input[type="range"] {
  -webkit-appearance: none; /* Override default appearance for WebKit browsers */
  appearance: none;
  width: 100%;
  margin: 10px 0;
  background: transparent; /* Remove default track background */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -8px; /* Adjust this value to center the thumb on the track */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #512da8;
  cursor: pointer;
  border: none; /* Remove default border */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  border-radius: 4px;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #512da8;
  cursor: pointer;
  border: none;
}
/* Styles for the thumb focus state */
input[type="range"]:focus::-webkit-slider-thumb {
  outline: none; /* Remove default focus outline */
}

input[type="range"]:focus::-moz-range-thumb {
  outline: none;
}
/* Style for output element */
output {
    display: block;
    text-align: center;
    margin: 10px 0;
}
#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color: white;
    z-index: 9999;
}